[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
solana_forge = "HwB325tYBpE7pAzZshMBCZo3PRCpdwwwLtsRy6t8NjDg"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
